@model IEnumerable<AloeExpress.ViewModels.ProductType.ProductTypeViewModel>

@{
    ViewData["Title"] = "GetAllProductType";
}

<h1>All Product Types</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TariffContainer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TariffAvia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TariffContainer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TariffAvia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Name">Edit</a> |
            </td>
        </tr>
}
    </tbody>
</table>
